/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Arial', sans-serif;
}

body {
  background-color: #f4f4f4;
  color: #333;
  line-height: 1.6;
  font-size: 13px;
}

/* Контейнер */
.container {
  width: 100%;
  margin: 0 auto;
  background-color: #fff;
  padding: 30px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.photo img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-right: 20px;
  border: 3px solid #ddd;
}

.author h1 {
  font-size: 28px;
  font-weight: bold;
}

.author h2 {
  font-size: 22px;
  color: #777;
}

/* Горизонтальные линии */
hr {
  border: 1px solid #eee;
  margin: 20px 0;
}

/* Стили для разделов */
section {
  margin-bottom: 30px;
}

section h3 {
  font-size: 22px;
  margin-bottom: 10px;
  color: #444;
}

section p, section ul {
  margin-bottom: 15px;
  color: #555;
}

section ul {
  list-style-type: none;
}

section ul li {
  margin-bottom: 8px;
}

section a {
  color: #007bff;
  text-decoration: none;
}

section a:hover {
  text-decoration: underline;
}

/* Стили для контейнера контактов и языков */
.contact-language-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.language {
  width: 48%;
}

.contacts {
  width: 48%;
  margin-left: 4%;
}

.language h3, .contacts h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.language li, .contacts li {
  margin-bottom: 8px;
  font-size: 16px;
}

.contacts li {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.contacts img {
  width: 16px;
  height: 16px;
  margin-right: 10px;
  vertical-align: middle;
}
