* {
    padding: 0;
  }
  
  
  body {
    font: 15px 'Roboto';
  }
  
  
  .conteiner {
    width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
  }
    .contacts {
    text-align: right;
    margin: 10px 0;
    float: right;
    list-style-type: none;
  }
  
  .header {
    padding: 10px 0;
  }
  
  .header img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }
  
  .photo,
  .author {
    display: inline-block;
  }
  
  .author {
    margin-left: 10px;
    vertical-align: top;
  }

  
  h3 {
    text-align: center;
    color: #000000;
  }

  
  hr {
    border: none;
    color: #eee;
    background-color: #eee;
    height: 1px;
  }
  
  
  p {
    text-align: left;
    color: #000000;
  }
  
  a {
    text-decoration: none;
    color: #3498db;
  }
  
  img {
    width: 15px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
    padding-right: 5px;
  }

